{% extends 'base_back.html.twig'%}
{% block navbar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('dashboard_back') }}" style="background-color: white;">
            <div class="sidebar-brand-icon">
                <img src="{{ asset ('BackOffice/img/Bankiz/logo.png') }}" alt="Bankiz" width="100">
            </div>
            <!-- <div class="sidebar-brand-text mx-3">Bankiz</div> -->
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('dashboard_back') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('back_utilisateur') }}">
                <i class='fas fa-user-alt' style='font-size:17px'></i>
                <span>Utilisateurs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('back_reclamation') }}">
                <i class="fa fa-newspaper-o" style="font-size:17px"></i>
                <span>Réclamations</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        {#            <li class="nav-item">#}
        {#                <a class="nav-link" href="{{ path('blank_page_back') }}">#}
        {#                    <i class='fas fa-file-signature' style='font-size:17px'></i>#}
        {#                    <span>Assurances</span></a>#}
        {#            </li>#}

        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Emprunts</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="{{ path('affichCredit') }}">Crédits</a>
                    <a class="collapse-item active" href="{{ path('affichOperationCredit') }} ">Opérations crédit</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('afficherCarte') }}">
                <i class='far fa-credit-card' style='font-size:17px'></i>
                <span>Cartes</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('afficherCategorieCarte') }}">
                <i class='far fa-credit-card' style='font-size:17px'></i>
                <span>Categorie</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('afficherchequierb') }}">
                <i class='fas fa-money-check-alt' style='font-size:17px;'></i>
                <span>Chèques & Chéquiers</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('comptes') }}">
                <i class='fas fa-piggy-bank' style='font-size:17px;'></i>
                <span>Comptes Bancaires</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('transactions') }}">
                <i class='fas fa-coins' style='font-size:17px;'></i>
                <span>Transactions</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Divider -->
        <hr class="sidebar-divider">
    </ul>
{% endblock %}
{% block body %}

    <h1>Liste des opérations crédits</h1>
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">OperationCredit</h6>
    </div>
    <div class="card-body">
    <div class="btn-group" role="group" aria-label="Basic example">
        <form method="post" action="{{ path('ajoutOperationCredit') }}" >
            <button class="btn btn-primary btn-lg btn-block" style="
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
">Ajouter une Operation De paiement</button>
        </form>
        &nbsp; &nbsp;
        <form method="post" action="{{ path('rechercheByNumero') }}" >
            <button class="btn btn-primary btn-lg btn-block" style="
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
"> recherche</button>
        </form>
    </div><br>
    <br>

    <table border="1" class="table table-striped">
        <tr style="  vertical-align:top ; ">
            <th>id</th>
            <th scope="col">credit</th>
            <th scope="col">date_op</th>
            <th scope="col">mont_payer</th>
            <th scope="col">echeance</th>
            <th scope="col">taux_interet</th>
            <th scope="col">solvabilite</th>
            <th scope="col">type_operation</th>
            <th scope="col">Supprimer</th>
            {#  <th>Modifier</th> #}
        </tr>
        <tr {% for c in operationCredit %}>
            <td>{{ c.id }}</td>
            <td>{{ c.credit }}</td>
            <td>{{ c.dateop |date('d-m-Y') }}</td>
            <td>{{ c.montpayer }}</td>
            <td>{{ c.echeance |date('d-m-Y') }}</td>
            <td>{{ c.tauxinteret }}</td>
            <td>{{ c.solvabilite }}</td>
            <td>{{ c.typeoperation }}</td>
            <td><a href="{{ path("suppOperationCredit",{'id':c.id}) }}">Supprimer</a></td>
            {#<td><a href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-de&integrationID=391b1234-9990-430d-b6e3-db9e6576ea3e&serviceInstanceID=d130be5f-214b-4fd3-a600-9d4ad1ae78d1&fbclid=IwAR31LW_UYtdX1MpJNj15JXaYuuoq-R7ZqJh1zO6fD8c6-daqsqmNA8ElpmU">Modifier</a></td>
            #}
        </tr {% endfor %}>
    </table>
{% endblock %}