{% extends 'base_front.html.twig' %}

{% block title %}EL Bank - Inscription{% endblock %}

{% block carousel %}

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    {% for info in app.flashes('message') %}
        <div class="alert alert-info d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{ info }}
            </div>
        </div>
    {% endfor %}
    <!-- Quote Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container quote px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-110" src="{{ asset('FrontOffice/img/bank.jpg') }}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    {#  <div class="p-lg-5 pe-lg-0">
                            <h1 class="display-5 mb-4">Inscription</h1>
                        </div>#}

                    <div class="p-lg-5 pe-lg-0">
                        <div class="">
                            <h4 class="mb-4 pb-2" style="color: #1c294e">Inscrivez-vous et bénéficiez d'un tas d'autres fonctionnalités</h4>
                        </div>
                        {{ form_start(formInscription , {'attr':{'novalidate':'novalidate'}}) }}
                        <div class="col-md-auto">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">CIN</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.cin_u) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.cin_u) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Nom</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.nom_u) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.nom_u) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Prenom</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.prenom_u) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.prenom_u) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Date naissance</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.date_naissance) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.date_naissance) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Adresse Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.email_u) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.email_u) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Numero telephone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.num_tel) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.num_tel) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Role</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.role) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.role) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Mot de passe</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.mot_de_passe) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.mot_de_passe) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Confirmer mot de passe</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.confirme_mot_de_passe) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.confirme_mot_de_passe) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Captcha</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ form_widget(formInscription.captcha) }}
                                        </div>
                                        <div style="color: red">
                                            {{ form_errors(formInscription.captcha) }}
                                        </div>
                                    </div>





                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        style="height: 45px; padding: 10px 15px; background-color: #1c294e ">Inscription</button>
                            </div>
                        </div>
                        {{ form_end(formInscription) }}



                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Quote End -->

{% endblock %}