{% extends 'base_back.html.twig' %}

{% block title %}EL Bank - Dashboard{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="https://github.com/zinagh/elbank/tree/zina" style="display: inline-block; color: #24292e; background-color: #fafbfc; border: 1px solid #e1e4e8; border-radius: 6px; font-size: 14px; font-weight: 600; line-height: 20px; padding: 6px 12px; text-decoration: none;"><i class="fab fa-github" style="margin-right: 8px;"></i> GitHub Link</a>

        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Nombre des employees</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countEmp }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-user-o fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Nombre des clients</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
                            </div>
                            <div class="col-auto">

                                <i class="fa fa-user-o fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Nombre des utilisteurs bloqués
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ countutilisateur }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: {{ countutilisateur }}%" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="555"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-user-times fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Nombre des utilisateurs connectes</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ connecteutilisateur }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Content Row -->
        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Utilisateurs:</h6>
                    </div>
                    <div class="card-body">
                        {% set percentegeEmp =  countEmp/countall %}
                        {% set percentegeEmp_formatted =  percentegeEmp  * 100 | number_format(0, '.', '') ~ '%' %}
                        <h4 class="small font-weight-bold">POURCENTAGE DES EMPLOYEES:<span
                                    class="float-right" >{{percentegeEmp_formatted}}</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style= "width :{{percentegeEmp_formatted}} "
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">POURCENTAGE DES CLIENTS
                            {% set percentegeClient =  count/countall %}
                            {% set percentegeClient_formatted =  percentegeClient  * 100 | number_format(0, '.', '') ~ '%' %}
                            <span
                                    class="float-right">{{percentegeClient_formatted}}</span></h4>
                        <div class="progress mb-4">

                            <div class="progress-bar bg-warning" role="progressbar" style="width :{{percentegeClient_formatted}} "
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">POURCENTAGE DES UTILISTEURS BLOQUÉS

                            {% set percentegeBloque =  countutilisateur/countall %}
                            {% set percentegeBloque_formatted =  percentegeBloque  * 100 | number_format(0, '.', '') ~ '%' %}
                            <span
                                    class="float-right">{{percentegeBloque_formatted}}</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: {{percentegeBloque_formatted}}"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">POURCENTAGE DES UTILISATEURS CONNECTES

                            {% set percentegeconnecteutilisateur =  connecteutilisateur/countall %}
                            {% set percentegeconnecteutilisateur_formatted =  percentegeconnecteutilisateur  * 100 | number_format(0, '.', '') ~ '%' %}

                            <span
                                    class="float-right">{{ percentegeconnecteutilisateur_formatted }}</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-info" role="progressbar" style="width: {{ percentegeconnecteutilisateur_formatted }}"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>


                    </div>
                </div>

                <!-- Color System -->
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                                <a style="color: #ffffff;" href="{{ path('back_utilisateur') }}">Gestion des Utilisateurs</a>
                                <div class="text-white-50 small">By Zina El Iselm Ghribi</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-success text-white shadow">
                            <div class="card-body">
                                <a style="color: #ffffff;" href="{{ path('affichCredit') }}"> Gestion des Crédites et des opérations crédit</a>
                                <div class="text-white-50 small">By Emna Machhout</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-info text-white shadow">
                            <div class="card-body">
                                <a style="color: #ffffff;" href="{{ path('afficherCarte') }}">Gestion des cartes et leurs Catégories</a>
                                <div class="text-white-50 small">By Yesser Zaghdoui</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-warning text-white shadow">
                            <div class="card-body">
                                <a style="color: #ffffff;" href="{{ path('comptes') }}">Gestion des Comptes et Des Transactions</a>
                                <div class="text-white-50 small">By Omar Abdelkefi</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                                <a style="color: #ffffff;" href="{{ path('afficherchequierb') }}">Gestion des chéques et des chéquiers</a>
                                <div class="text-white-50 small">By Ali Turki</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                                <a style="color: #ffffff;" href="{{ path('back_reclamation') }}">Gestion des réclamations</a>
                                <div class="text-white-50 small">By Zina El Islem Ghribi & Yesser Zaghdoudi</div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="BackOffice/img/undraw_posting_photo.svg" alt="...">
                        </div>
                        <p>Le tableau de bord donne un aperçu des indicateurs clés de performance (ICP) tels que le nombre de clients actifs, le nombre de nouveaux comptes ouverts, le total des dépôts et des retraits, les approbations de prêts, etc. Il affiche également des mesures importantes liées à la productivité des employés, comme le nombre de comptes gérés par employé, le temps de réponse aux demandes des clients et le taux de satisfaction global des clients.

                            </p>
                    </div>
                </div>

                <!-- Approach -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Dashboard description</h6>
                    </div>
                    <div class="card-body">
                        <p>Le tableau de bord est équipé de divers outils de visualisation des données tels que des graphiques, des diagrammes et des tableaux pour aider l'administrateur à interpréter et à comprendre facilement les données. Il permet également des personnalisations, comme la possibilité de filtrer les données par plage de dates, type de compte ou département de l'employé.

                            Dans l'ensemble, le tableau de bord est un outil puissant qui aide l'administrateur à prendre des décisions éclairées et à gérer efficacement les utilisateurs en identifiant les tendances, en suivant les progrès et en mettant en évidence les domaines à améliorer.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}
