{% extends 'base_back.html.twig' %}
{% block title %}EL Bank - Categories {% endblock %}
{% block navbar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('dashboard_back') }}" style="background-color: white;">
            <div class="sidebar-brand-icon">
                <img src="{{ asset ('BackOffice/img/Bankiz/logo.png') }}" alt="Bankiz" width="100">
            </div>
            <!-- <div class="sidebar-brand-text mx-3">Bankiz</div> -->
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('dashboard_back') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('back_utilisateur') }}">
                <i class='fas fa-user-alt' style='font-size:17px'></i>
                <span>Utilisateurs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('back_reclamation') }}">
                <i class="fa fa-newspaper-o" style="font-size:17px"></i>
                <span>Réclamations</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        {#            <li class="nav-item">#}
        {#                <a class="nav-link" href="{{ path('blank_page_back') }}">#}
        {#                    <i class='fas fa-file-signature' style='font-size:17px'></i>#}
        {#                    <span>Assurances</span></a>#}
        {#            </li>#}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Emprunts</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="{{ path('affichCredit') }}">Crédits</a>
                    <a class="collapse-item" href="{{ path('affichOperationCredit') }} ">Opérations crédit</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('afficherCarte') }}">
                <i class='far fa-credit-card' style='font-size:17px'></i>
                <span>Cartes</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('afficherCategorieCarte') }}">
                <i class='far fa-credit-card' style='font-size:17px'></i>
                <span>Categorie</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('afficherchequierb') }}">
                <i class='fas fa-money-check-alt' style='font-size:17px;'></i>
                <span>Chèques & Chéquiers</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('comptes') }}">
                <i class='fas fa-piggy-bank' style='font-size:17px;'></i>
                <span>Comptes Bancaires</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('transactions') }}">
                <i class='fas fa-coins' style='font-size:17px;'></i>
                <span>Transactions</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">



        <!-- Divider -->
        <hr class="sidebar-divider">
    </ul>
{% endblock %}
{% block body %}

<h1 class="h3 mb-4 text-gray-800">-Liste des Categories-</h1>
    <div class="card shadow mb-4">
    
    <div class="card-body">
        <table border="2">

    <table style="margin-right: 20px ; ">
    </table>
            </tr>
            <hr>
            <td>
                <div style="width: 100%; overflow: auto">
                    <table style="border:1px solid black;border-collapse:collapse; vertical-align:center; class="" ">
                        <tr class="table" style="border:1px solid black;border-collapse:collapse;">
                            <td>id t</td>
                            <td >Nom de la Categorie</td>
                            <td >description</td>
                            <td >prix</td>
                            <td>montantmax</td>
                            <td>Action 1</td>
                            <td>Action 2</td>
                        </tr>

    {% for c in categorieCarte %}
            <tr style="border:1px solid black;border-collapse:collapse; vertical-align:center; text-align:center;">
                <td>{{ c.id }}</td>
                <td>{{ c.type }}</td>
                <td>{{ c.description }}</td>
                <td>{{ c.prix }}</td>
                <td>{{ c.montantmax}}</td>
        
                <td><a href="{{ path("supprimerCategorieCarte",{'id':c.id}) }}">Supprimer</a></td>

<td><a href="{{ path("modifierCategorieCarte",{'id':c.id}) }}">Modifier</a></td>
            </tr>
    {% endfor %}
                        </tr>
                    </table>
                    <tr>
                        <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               style="height: 45px; padding: 10px 15px; " href="{{ path('ajouterCategorieCarte') }}">Ajouter une categorie
                               
                            </a></th>
                    </tr>

                    <tr>
                        <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               style="height: 45px; padding: 10px 15px; " href="{{ path('categorieCarte_list') }}">Rechercher Nom
                               
                            </a></th>
                    </tr>
                </div>
            </td>
        </table>
    </div>

    </div>
    </div>
{% endblock %}