{% extends 'base_back.html.twig' %}
{% block title %}EL Bank - Recherche {% endblock %}

{% block body %}

{{ form(recherchenum) }}
<hr>
<td>
    <div style="width: 100%; overflow: auto">
        <table style="border:1px solid black;border-collapse:collapse; vertical-align:center; ">
            <tr class="table" style="border:1px solid black;border-collapse:collapse;">
                <td>id</td>
                <td >idclient</td>
                <td >date_ex</td>
                <td >mp</td>
                <td>login</td>
                <td>num_carte</td>
            </tr>
          <tr {% for c in carte %}>
        <td>{{ c.id }}</td>
        <td>{{ c.idclient }}</td>
        <td>{{ c.dateex | date('d-m-Y') }}</td>
      
        <td>{{ c.mp }}</td>
        <td>{{ c.login }}</td>
         <td>{{ c.numcarte }}</td>

    {% endfor %}
            </tr>
        </table>
    </div>
</td>
</table>
{% endblock %}